.cart {
    color: white;
    margin-top: 90px;
    margin-left: 40px;
}

input {
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 400px;
    background-color: gray;
    color: white;
    font-weight: bold;
    height: 50px;
    padding-left: 10px;
}

.cart-button {
    background-color: #0070ba; /* Цвет кнопки */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button:hover {
    background-color: #005fa3; /* Цвет кнопки при наведении */
}

.cart-button .fa-shopping-cart {
    margin-right: 8px; /* Отступ между иконкой и текстом */
}
