@keyframes animatedGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.home-text-container {
  text-align: left;
  /*margin-left: 20px;*/
  padding: 30px;
  color: white;
}

.title-rainbow {
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  color: transparent;
  background-clip: text;
  z-index: 0;
  /*background-size: 100% 200%;*/
  background-size: 300% 300%;

  animation: animatedGradient 3s ease alternate infinite;
}

.title-home {
  font-size: 120px;
  font-weight: 600;
  line-height: 120px;
}

.home-subtitle-link {
  background: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
  );
  color: transparent;
  background-clip: text;
  background-size: 100% 200%;
}

.home-subtitle-text {
  font-size: 30px;
  max-width: 800px;
  margin-top: 0;
}